@import "tailwindcss";
@import '@fontsource-variable/raleway';
@import '@fontsource-variable/montserrat';


body {
    font-family: 'Raleway Variable', sans-serif;
}

h1, h2, h3 {
    font-family: 'Montserrat Variable', sans-serif;
}

@theme {
 --color-morado: #A0ADD9;
 --color-azul: #4588C8;
 --color-verde: #A2CC80;
 --color-secundario: #FFF5ED;
}
